/* custom styles */

body {
  padding-top: 5px;
}

/* h1,
.navbar-brand,
.navbar-nav a {
  font-family: 'Garamond', serif;
} */

.navbar .nav > li > a, .navbar .nav > li > a:first-letter,
.navbar .nav > li.current-menu-item > a,
.navbar .nav > li.current-menu-ancestor > a {
font-family:    Garamond !important;
font-weight:    bold;
}

.navbar {
     background-color: transparent;
     /* DarkSlateGray; !important; */
     border-color: transparent;
     /* #080808; */
}

.bg-img {
  /* The image used */
  background-image: url("glasses.png");

  min-height: 200px;
  margin:0px;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
  width: 100%;
  /* height: 100px; */
  position: fixed;
  top: -100px;
  bottom: -100px;
  /* padding-bottom: 0; */
  /* background: #AE1; */

  /* Needed to position the navbar */
  position: relative;
}
