/* custom styles */

body {
  padding-top: 70px;
}

/* h1,
.navbar-brand,
.navbar-nav a {
  font-family: 'Garamond', serif;
} */

.navbar .nav > li > a, .navbar .nav > li > a:first-letter,
.navbar .nav > li.current-menu-item > a,
.navbar .nav > li.current-menu-ancestor > a {
font-family:    Garamond !important;
}

.navbar {
     background-color: DarkSlateGray !important;
     border-color: #080808;
}
