{% extends "_base.html" %}
{% block content %}

<h1>Welcome to Clear-Colored Glasses!</h1>
<!-- <br> -->
<div>
<p>Do you view the world with rose-colored glasses?<p>
<p>Or do you think you see things with a darker perspective?</p>
<p>Clear-colored Glasses allows users to assess how accurately they view reality,
  providing insight to optimism and pessisim / neurotism for personal observation and improvement over time.</p>
<p>The term optimism derives from the Latin optimum, meaning "best". Being optimistic, in the typical sense of the word,
  is defined as expecting the best possible outcome from any given situation. This is usually referred to in psychology
  as dispositional optimism. It thus reflects a belief that future conditions will work out for the best. For this reason,
  it is seen as a trait that fosters resilience in the face of stress. Dispositional optimism and pessimism can be
  assessed by asking people whether they expect future outcomes to be beneficial or negative.
</div>


<div class = container>
<div class="col-sm-2" align='center'>
  <img src="../static/eyeglasses.jpg">
</div>
</div>

<hr class="style17">
<div>
    <p class = "text-center">
      |  © harry durbin
      <script type="text/JavaScript">
        document.write(new Date().getFullYear());
      </script> |
   <p>
</div>

{% endblock %}
