{% extends "_base.html" %}
{% block content %}

<div class="page-header">
<h3 class="text-center" style="font-family: Garamond;">Add or Edit Events</h3>
</div>
<!-- <hr class="style17"> -->
<div>
  <body>
    <div class=container"><br>
      <div class="row align-items-center justify-content-center">
        <div class="col-md-4">
          <h5><strong>Add a Predicted Event:</strong></h5>
          <form method="POST" action="/events/">
            <div class="form-group">
             <label for="desc">Description: </label>
             <input type="text" class="form-control" id="desc" name="desc" placeholder="Briefly describe the event you are predicting.">
               <br>
             <label for="want">Want: </label>
             <!-- <input type="integer" class="form-control" id="want" name="want" placeholder="Do you want this event to happen?"> -->
             <br>
              <input type="radio" id="want" name="want" value = 'Yes' checked>
              Yes
              <br>
              <input type="radio" id="want" name="want" value = 'No'>
              No
              <br>
              <br>
         	  <label for="likelihood?">Likelihood (0-100): </label>
         	  <input type="integer" class="form-control" id="likelihood" name="likelihood" placeholder="Enter expected event probability between 0 and 100.">
              <br>
            <label for="happened?">Happened: </label>
            <!-- <input type="integer" class="form-control" id="happened" name="happened" placeholder="Has the event happened?"> -->
            <br>
              <input type="radio" id="happened" name="happened" value = 'Not yet' checked>
               Not Yet, but it still could happen.
              <br>
              <input type="radio" id="happened" name="happened" value = 'Yes'>
               Yes, it happened.
              <br>
              <input type="radio" id="happened" name="happened" value = 'No'>
               No, and there is no chance it could happen anymore.
             <br>
            <br>
            <input type="submit" class="btn btn-success" value="Add Event">
            <!-- <input type="submit" value="Add Event"> -->
            </div>
          </form>
        </div>

<div class="col-md-2">
</div>

<div class="col-md-8">
    <!-- <br> -->
    <h5><strong>Edit a Predicted Event:</strong></h5>
    <!-- </br> -->
    <!-- <div class=container"><br> -->
      <!-- <div class="row align-items-center justify-content-center"> -->
        <!-- <div class="col-md-4"> -->
    <!-- <div class="table-responsive"> -->
      <!-- style="text-align: center;"table-condensed table-responsive table-hover table-striped-->
      <table class="table table-condensed table-striped style = vertical-align: middle;">
        <thead>
          <tr>
            <th>Description</th>
            <th>Want(ed) to happen?</th>
            <th>Likelihood? (0-100)%</th>
            <th>Happened?</th>
            <th>Delete</th>
          </tr>
            </thead>
            <tbody>

    {% for event in events %}
    <tr>
    <!-- <td>{{event.desc}}</td>
    <td>{{event.want}}</td> -->
    <!-- <td>{{event.likelihood}}</td> -->


    <form method="POST" action="/events/update">
      <input type="hidden" value="{{event.id}}" name="oldid">
      <input type="hidden" value="{{event.id}}" name="newid">

      <!-- temporary -->
      <input type="hidden" value="{{event.desc}}" name="olddesc">
      <input type="hidden" value="{{event.want}}" name="oldwant">
      <input type="hidden" value="{{event.likelihood}}" name="oldlikelihood">
      <input type="hidden" value="{{event.happened}}"name="oldhappened">

      <td><input type="text" value="{{event.desc}}" name="newdesc">
      <input type="submit" class="btn-default btn-xs" value="Update"></td>

      <td><input type="text" maxlength="7"  size="3" value="{{event.want}}" name="newwant">
      <input type="submit" class="btn-default btn-xs" value="Update"></td>

      <td><input type="integer" maxlength="7" size="3"  value="{{event.likelihood}}" name="newlikelihood">
      <input type="submit" class="btn-default btn-xs" value="Update"></td>

      <!-- <td>{{event.happened}}</td> -->
      <td><input type="text" maxlength="7" size="3" value="{{event.happened}}" name="newhappened">
      <input type="submit" class="btn-default btn-xs" value="Update"></td>
    </form>

    <form method="POST" action="/events/delete">
      <input type="hidden" value="{{event.desc}}" name="desc">
      <td><input type="submit" class="btn btn-danger btn-xs" value="Delete"></td>
    </form>
    </tr>
    {% endfor %}
  </tbody>
</table>

<div>
  <a class="btn btn-sm btn-info" href="../evaluation/">Summary</a>
</div>

<!-- </div>
</div>
</div> -->
</div>
</div>
</div>
</div>
  </body>


</script>
</div>
<hr class="style17">
<div>
    <p class = "text-center">
      |  © harry durbin
      <script type="text/JavaScript">
        document.write(new Date().getFullYear());
      </script> |
   <p>
</div>
{% endblock %}
