<!doctype html>
<html>

<!-- <head>
  <meta charset="utf-8" />
  <title>Defaults</title>
  <meta name="viewport" content="width=device-width">
  <style>
  .container {
    width: 600px;
    margin: 100px auto;
    text-align: center;
  }

  .gauge {
    width: 600px;
    height: 600px;
    display: inline-block;
  }

  </style>
</head> -->

<div class="container">
  <div id="gauge1"></div>
  </br>
</div>

<!-- <div class="container">
  <div id="gauge2" class="600x600px"></div>
</div> -->


<script src="{{url_for('static', filename='raphael-2.1.4.min.js')}}"></script>
<script src="{{url_for('static', filename='justgage.js')}}"></script>

<script>
  var g = new JustGage({
    id: "gauge1",
    value: 11,
    min: -100,
    max: 100,
    title: "Likelihood Score"
  });

  var g1 = new JustGage({
    id: "gauge2",
    value: 11,
    min: 0,
    max: 100,
    title: "Accuracy Score"
  });

</script>
