{% extends "_base.html" %}

{% block content %}

<div class="container">
  <!-- <div class="col-sm-4"> -->

    <!-- <h1>Welcome Amigo!</h1>
    <br> -->
    <h1>Welcome to Clear-colored Glasses Amigo!</h1>
    <!-- <br> -->
    <!-- <div class='container'> -->
    <!-- <p>Do you view the world with rose-colored glasses?<p>
    <p>Or do you think you see things with a darker perspective?</p> -->
    <p>Clear-colored Glasses allows users to assess how accurately they view reality, providing insight for personal observation
      and improvement over time.The term optimism derives from the Latin optimum, meaning "best". Being optimistic, is defined as expecting the best possible outcome from any given situation. This is usually referred to in psychology
      as dispositional optimism. It thus reflects a belief that future conditions will work out for the best. Dispositional optimism and pessimism can be
      assessed by asking people whether they expect future outcomes to be beneficial or negative. Clear-colored Glasses allows users to assess how accurately they view reality, providing insight for personal observation
        and improvement over time. </p>
    <!-- </div> -->
  </div

<h1>Please Register</h1>
<br>
<form class="form-signin" role="form" method="post" action="">
  {{ form.csrf_token }}
  {{ form.email(placeholder="email") }}
    <span class="error">
      {% if form.email.errors %}
        {% for error in form.email.errors %}
          {{ error }}
        {% endfor %}
      {% endif %}
    </span>
  </p>
  <p>
  {{ form.password(placeholder="password") }}
    <span class="error">
      {% if form.password.errors %}
        {% for error in form.password.errors %}
          {{ error }}
        {% endfor %}
      {% endif %}
    </span>
  </p>
  <p>
  {{ form.confirm(placeholder="confirm") }}
    <span class="error">
      {% if form.confirm.errors %}
        {% for error in form.confirm.errors %}
          {{ error }}
        {% endfor %}
      {% endif %}
    </span>
  </p>
  <button class="btn btn-success" type="submit">Register!</button>
  <br><br>
  <p>Already have an account? <a href="/login">Sign in</a>.</p>
</form>

{% endblock %}
